<body>
  <h1><%= book.name%></h1>
  <% if(book.youFav){%>
  <p>you dont want to delete this..</p>
  <%}else{%>
  <p>yes you do</p>
  <%}%>
  <form action="/books/<%=book._id%>?_method=DELETE" method="POST">
    <button type="submit">Delete <%= book.name %></button>
  </form>
  <a href="/books">Back to the list</a>
</body>
