<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Books</title>
  </head>
  <body>
    <h1>book list</h1>
    <ul>
      <% books.forEach(book => { %>
      <a href="/books/<%= book._id %>">
        <li><%= book.name %></li>
      </a>
      <% }); %>
    </ul>

    <a href="/books/new">Add More books</a>
  </body>
</html>
