<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>all the books in the world</title>
  </head>
  <body>
    <a href="/">Home </a>
    <a href="/books/">Back to the list </a>
    <h1>Create a book list</h1>
    <form action="/books" method="POST">
      <label for="name"> Book Name: </label>
      <input type="text" name="name" id="name" />

      <!-- <br />

      <label for="name">Author Name: </label>
      <input type="text" name="name" id="name" />

      <br />

      <label for="name">Genre: </label>
      <input type="text" name="name" id="name" /> -->

      <br />
      <label for="yourFav">is this book one of you favs??</label>
      <input type="checkbox" name="yourFav" id="yourFav" />
      <br />
      <button type="submit">Add Book</button>
    </form>
  </body>
</html>
